body {
  background-image: url("img/bg.jpg");
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 300%;
  font-family: arial, monospace;
}
h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: white;
}
h3 {
  color: white;
  text-align: center;
}
.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align-all: center;
  height: 30px;
  width: 330px;
  background-color: #001aff;
}
